.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 20px;
  top: 20px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 84px;
  width: 84px;
}

.bm-cross {
  background: #0c0d0d;
  height: 84px;
  width: 84px;
  margin-right: 40px;
  
}

.bm-menu {
  background:#FFA500;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  
}

.bm-menu-item {
  display: inline-block;
  margin-bottom: 10px;
}

.bm-menu-item a {
  color: #b8b7ad;
  text-decoration: none;
}

.bm-menu-item:hover a {
  color: #070606;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-item-list a {
  text-decoration: none;
}

.bm-item-list a:hover {
  color:#F5F5F5;
}

.icon {
  display: inline-block;
  margin-right: 10px;
}

/* .bm-overlay {
  background: rgba(0, 0, 0, 0.3);
} */

.logo{
  width: 200px;
}